/*1. CUSTOM PROPERTY*/
:root {
  --font: "Raleway", sans-serif;
}

/*2. RESETEO*/

html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

a {
  color: var(--link-color);
  transition: all 0.5s ease-out;
  text-decoration: none;
}

a:hover {
  opacity: 0.75;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
  margin: 0;
}

/*3-Estilos*/

body {
  background-color: lightgray;
}
